<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="/template.xhtml">
    
    <ui:define name="pagetitle">Add new product</ui:define>
    
    <ui:define name="content">
        <h:form enctype="multipart/form-data">
            <h:outputLabel for="title">Title</h:outputLabel>
            <h:inputText value="#{addProduct.title}" id="title" required="true"></h:inputText>
            
            <br/>
            
            <h:outputLabel for="description">Description</h:outputLabel>
            <h:inputTextarea value="#{addProduct.description}" id="description" required="true"></h:inputTextarea>
            
            <br/>
            
            <h:outputLabel for="image">Image</h:outputLabel>
            <h:inputFile value="#{addProduct.image}" id="image" validator="#{addProduct.validateImage}" required="true"></h:inputFile>
            
            <br/>
            
            <h:commandButton action="#{addProduct.submit}" value="Add product"></h:commandButton>
        </h:form>
    </ui:define>
</ui:composition>
