<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="/template.xhtml">
    
    <ui:define name="pagetitle">Active auctions</ui:define>
    
    <ui:define name="content">
        <h:dataTable value="#{auction.activeAuctions}" var="a">
            <h:column>
                <f:facet name="header">Product</f:facet>
                
                <h:link value="#{a.product.name}" outcome="product" >
                    <f:param name="id" value="#{a.product.id}" />
                </h:link>
            </h:column>
        
            <h:column>
                <f:facet name="header">Price</f:facet>
                #{a.minBid}
            </h:column>
            
            
            <h:column>
                <f:facet name="header">End time</f:facet>
                #{a.closingTime}
            </h:column>
            
            <h:column>
                <h:link value="Bid" outcome="bid" >
                    <f:param name="id" value="#{a.id}" />
                </h:link>
            </h:column>
        </h:dataTable>
    </ui:define>
</ui:composition>
