<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="/template.xhtml">
    
    <f:metadata>
        <f:viewParam name="id" value="#{auction.id}" required="true"/>
        <f:viewAction action="#{auction.load}" />
    </f:metadata>
    
    <ui:define name="pagetitle">Bidding on #{auction.auction.product.name}</ui:define>
    
    <ui:define name="content">
        <p>#{auction.auction.product.description}</p>
        <p>Seller: #{auction.auction.seller.username}</p>
        
        <h3>Place bid</h3>
        <h:form>
            <h:inputText value="#{auction.newBid}" id="minbid" required="true">
                <f:validateLongRange minimum="0" />
            </h:inputText>
            <h:commandButton action="#{auction.placeBid}" value="Bid"></h:commandButton>
        </h:form>
        
        <h3>Bid history</h3>
        <h:dataTable value="#{auction.auction.bids}" var="b">
            <h:column>
                <f:facet name="header">Price</f:facet>
                #{b.amount}
            </h:column>
            
            <h:column>
                <f:facet name="header">Time</f:facet>
                #{b.created}
            </h:column>
            
            <h:column>
                <f:facet name="header">Bidder</f:facet>
                #{b.bidder.username}
            </h:column>
        </h:dataTable>
    </ui:define>
</ui:composition>
