<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="/template.xhtml">
    
    <ui:define name="pagetitle">Create profile</ui:define>
    
    <ui:define name="content">
        <h:form>
            <h:outputLabel for="username">Username</h:outputLabel>
            <h:inputText value="#{createProfile.userName}" id="username" required="true"></h:inputText>
            
            <br/>
            
            <h:outputLabel for="firstname">First name</h:outputLabel>
            <h:inputText value="#{createProfile.firstName}" id="firstname"></h:inputText>
            
            <br/>
 
            <h:outputLabel for="lastname">Last name</h:outputLabel>
            <h:inputText value="#{createProfile.lastName}" id="lastname"></h:inputText>
            
            <br/>
            
            <h:outputLabel for="email">E-mail</h:outputLabel>
            <h:inputText value="#{createProfile.email}" id="email" required="true"></h:inputText>
            
            <br/>
            
            <h:outputLabel for="password">Password</h:outputLabel>
            <h:inputSecret value="#{createProfile.password}" id="password">
                <f:validateLength minimum="8" maximum="32" />
            </h:inputSecret>
            
            <br/>

            <h:commandButton action="#{createProfile.createUser}" value="Create"></h:commandButton>
        </h:form>
    </ui:define>
</ui:composition>
