<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="/template.xhtml">
    
    <ui:define name="pagetitle">Log in</ui:define>
    
    <ui:define name="content">
        <h:form id="formLogin" prependId="false" onsubmit="document.getElementById('formLogin').action = 'j_security_check';">
            <h:outputLabel for="j_username" value="Username"/>
            <h:inputText id="j_username" required="true" />
            <h:outputLabel for="j_password" value="Password"/>
            <h:inputSecret id="j_password" required="true" />
              <h:commandButton value="Login" type="submit"/>
        </h:form>
    </ui:define>

</ui:composition>
