<?xml version="1.0" encoding="UTF-8"?>
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    
    <h:form>
        <h:commandLink value="View profile #{user.username}" rendered="#{user.authenticated}" action="userprofile" />
        
        <br />
        
        <h:commandLink value="Log out" rendered="#{user.authenticated}" action="#{user.logout}" />
        
        <h:commandLink value="Log in" rendered="#{not user.authenticated}" action="login" />
        
        <br />
        
        <h:commandLink value="Register" rendered="#{not user.authenticated}" action="createprofile" />
        <h:link value="View auctions" outcome="auctions" />
    </h:form>
</ui:composition>
