<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="/template.xhtml">
    
    <ui:define name="pagetitle">Post auction</ui:define>
    
    <ui:define name="content">
            <h:form>
            <h:dataTable value="#{postAuction.products}" var="p">
                <h:column>
                    <f:facet name="header">Product</f:facet>

                    <h:link value="#{p.name}" outcome="product" >
                        <f:param name="id" value="#{p.id}" />
                    </h:link>
                </h:column>

                <h:column>
                    <f:facet name="header">Description</f:facet>
                    #{p.description}
                </h:column>

                <h:column>
                    <h:commandButton value="post" action="#{postAuction.edit(p)}" />
                </h:column>

                <h:column>
                    <h:commandButton value="delete" action="#{postAuction.delete(p)}" />
                </h:column>
            </h:dataTable>
            </h:form>

            <h:panelGroup rendered="#{postAuction.posting}">
                <h3>Publish auction for #{postAuction.editing.name}</h3>
                
                <h:form>
                <h:outputLabel for="minbid">Minimum bid</h:outputLabel>
                <h:inputText value="#{postAuction.minbid}" id="minbid" required="true">
                    <f:validateLongRange minimum="0" />
                </h:inputText>

                <br/>

                <h:outputLabel for="endtime">Expiry (in minutes)</h:outputLabel>
                <h:inputText value="#{postAuction.endtime}" id="endtime" required="true">
                    <f:validateLongRange maximum="7200" minimum="1" />
                </h:inputText>

                <br/>

                <h:commandButton action="#{postAuction.publish}" value="Publish"></h:commandButton>
                </h:form>
            </h:panelGroup>
    </ui:define>
</ui:composition>
