<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="/template.xhtml">
    
    <f:metadata>
        <f:viewParam name="id" value="#{product.id}" required="true"/>
        <f:viewAction action="#{product.load}" />
    </f:metadata>
    
    <ui:define name="pagetitle">#{product.product.name}</ui:define>
    
    <ui:define name="content">
        <h:graphicImage value="/image/#{product.product.id}" style="height:100px;width:100px"></h:graphicImage>
        <div>#{product.product.description}</div>
        <div>Seller: #{product.product.creator.username}</div>
        
        
        <h3>Auctions</h3>
        <h:dataTable value="#{product.activeAuctions}" var="a">
            <h:column>
                <f:facet name="header">Price</f:facet>
                #{a.highestBid}
            </h:column>
            
            <h:column>
                <f:facet name="header">Closing time</f:facet>
                #{a.closingTime}
            </h:column>
            
            <h:column>
                <h:link value="Bid" outcome="bid" >
                    <f:param name="id" value="#{a.id}" />
                </h:link>
            </h:column>
        </h:dataTable>
    </ui:define>
</ui:composition>
