<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:h="http://xmlns.jcp.org/jsf/html">
    
        <h:head>
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <title>fooBay - <ui:insert name="pagetitle" /></title>
        </h:head>

        <h:body>
            <h1>fooBay</h1>
            <div id="login">
                <ui:include src="login-state.xhtml" />
            </div>
            
            <h2><ui:insert name="pagetitle" /></h2>

            <div id="content">
                <ui:insert name="content" />
            </div>
        </h:body>
</html>
