<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="/template.xhtml">
    
    <ui:define name="pagetitle">#{user.username}</ui:define>
    
    <ui:define name="content">
        <h:link value="Add product" outcome="addproduct" /><br/>
        <h:link value="Post auction" outcome="postauction" /><br/>
        
        <h3>Profile</h3>
        
        <h:panelGrid columns="2">
            <h:panelGroup>Username</h:panelGroup>
            <h:panelGroup>#{user.username}</h:panelGroup>
            
            <h:panelGroup>First name</h:panelGroup>
            <h:panelGroup>#{user.firstName}</h:panelGroup>
            
            <h:panelGroup>Last name</h:panelGroup>
            <h:panelGroup>#{user.lastName}</h:panelGroup>
            
            <h:panelGroup>Email</h:panelGroup>
            <h:panelGroup>#{user.email}</h:panelGroup>
        </h:panelGrid>
    </ui:define>
</ui:composition>
